@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.section2 {
    background-color: white;
    display: flex;
}



.navbar2 h1 {
    margin-left: 460px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 3px;
    color: black;
    text-transform: uppercase;
}




#section2 {
    width: 100%;
    margin-left: 18px;
}




.navbar2 {
    z-index: 1;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.navbar2 li a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-right: 25px;
}

.navbar2 li a:hover {
    color: #a4c639;
    transition: 0.8s;
    letter-spacing: 0.1em;
}

.navbar2 li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #a4c639;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar2 li:hover::after {
    width: 95%;
    margin-right: 30px;
}

/* ====== CARDS ========== */

.flip-card {
    background-color: transparent;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 430px;
    height: 300px;
    perspective: 1000px;
    display: flex;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

/* optional color for back/front card #c2bbc9 */
.flip-card-front {
    background-image: linear-gradient(45deg, #eae5f0, #eae5f0);
}

.flip-card-front img {
    width: 400px;
    margin-top: 1rem;
}

.flip-card-back {
    background-image: linear-gradient(315deg, #eae5f0, #eae5f0);
    color: #535050;
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 340px;
    margin-top: 1rem;
}

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}

.flip-card-back h1 {
    margin: 0;
}


.flip-card-inner .flip-card-back .car-booking {
    /* position:relative;
    top: 18px;
    margin-left: 10px; */
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 115px;
}

.flip-card-inner .flip-card-back .car-booking a {
    background: linear-gradient(to right, #56da23, #82ff51, #56da23);
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: .3s ease;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;

}