@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300&family=Poppins:wght@300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0px auto;
}

/* ================ HEADER ================== */
header {
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: white;
}

.header-container {
    /* position: static; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 10px;
}



.logo {
    position: relative;
    top: 14px;
}

.nav-items {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin-top: 20px;
}


/* button decoration in the header */

/* color */
.navbar li a {
    /* text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    margin: 20px; */
    /* box-sizing: border-box; */
    margin: 10px;
    position: relative;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    border-radius: 2px;
    transition: all .5s ease;

}

.navbar li a:hover {
    letter-spacing: 0.25em;
    border-bottom: 2px solid #a4c639;
    color: #a4c639;
    box-shadow: 0 0 35px #a4c639;
}

.navbar li a::before {
    content: '';
    position: absolute;
    inset: 2px;
}

.navbar li a span {
    position: relative;
    z-index: 1;
}

.navbar li a i {
    position: absolute;
    inset: 0;
    display: block;
}

.navbar li a i::before {
    content: '';
    position: absolute;
    border: 2px solid #a4c639;
    top: -3.5px;
    width: 10px;
    height: 5px;
    left: 80%;
    border-radius: 2px;
    transition: all .5s ease;
}

.navbar li a:hover i::before {
    width: 20px;
    left: 20%;
}

.navbar li a i::after {
    content: '';
    position: absolute;
    border: 2px solid #a4c639;
    bottom: -3.5px;
    width: 10px;
    height: 5px;
    left: 20%;
    border-radius: 2px;
    transition: all .5s ease;
}

.navbar li a:hover i::after {
    width: 20px;
    left: 80%;
}



/* 
.navbar .active {
    color: black;
    /* border-bottom: 2px solid #a4c639; 
} */

/* =============== Header============== */
/* =============== Section 1 =========== */
.slide-bar .img {
    height: calc(100vh - 70px);
    background-image: url('../Project_WEB/img/auto1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: slider 20s infinite;
}

@keyframes slider {

    10% {
        background-image: url('../Project_WEB/img/auto4.jpg');
    }

    20% {
        background-image: url('../Project_WEB/img/auto5.jpg');
    }

    30% {
        background-image: url('../Project_WEB/img/auto9.jpg');
    }

    30% {
        background-image: url('../Project_WEB/img/auto11.jpg');
    }

    40% {
        background-image: url('../Project_WEB/img/auto18.jpg');
    }

    50% {
        background-image: url('../Project_WEB/img/auto15.jpg');
    }

    /* 75%{
        background-image: url('C:\\Users\\ENOVO\\OneDrive\\Desktop\\Desktop\\CSS 3 me ylber veliu\\img\\car9.jpg');
    } */
}

/* top-left div */

.about-us {
    margin-top: 40px;
    margin-left: 20px;
    display: inline-flex;
    height: 260px;
    width: 400px;
    border: 2px solid #a4c639;
    border-radius: 40px;
    background-color: #f6f6f6;
}

.about-content {
    padding: 15px;
}


.about-content .p-rent {
    font-family: 'Poppins', sans-serif;
    color: #444;
}

.about-content .h2-rent {
    font-family: 'Poppins', sans-serif;
    color:#444;
    font-weight: 400;
}

/* top right content */

.costumer-rating {
    margin-top: 40px;
    margin-right: 20px;
    padding: 15px;
    float: right;
    width: 600px;
    background-color: #f6f6f6;
    border: 2px solid #a4c639;
    border-radius: 40px;
}

.costumer-rating .p-costumer-rating {
    font-family: 'Poppins', sans-serif;
    color: #444;

}

.costumer-rating .h2-costumer-rating {
    font-family: 'Poppins', sans-serif;
    color: #444;
    font-weight: 400;
}

.costumer-rating .h3-costumer-rating {
    margin-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #444;
    font-weight: 400;
}

/* 5-star rating animation */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 1.1em;
    font-size: 2rem;
    color: #FFD700;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important;
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;

}

/* center-bottom div */

.rental {
    float: left;
    display: flex;
    flex-direction: row;
    margin-top: 190px;
    margin-left: 100px;
    border: 2px solid #a4c639;
    border-radius: 10px;
    background-color: #f6f6f6;
}

.flexible-rentals {
    width: 300px;
}

.flexible-rentals .h3-rental,
.flexible-rentals .p-rental {
    color: #444;
    font-family: 'Poppins', sans-serif;
}

.rental img {
    width: 75px;
}

.hidden-fees {
    width: 300px;
}

.hidden-fees .h3-hidden-fees,
.hidden-fees .p-hidden-fees {
    color: #444;
    font-family: 'Poppins', sans-serif;
}

.price-match-guarantee {
    width: 300px;
}

.price-match-guarantee .h3-price-match-guarantee,
.price-match-guarantee .p-price-match-guarantee {
    color: #444;
    font-family: 'Poppins', sans-serif;
}

/* =========== Section1 ============= */

/* FAQ's CSS */



.faq-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    border-bottom: #777;
    padding: 20px 60px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 60%;
    margin: auto;
}
.faq-body .faqs-paragraph {
    font-family: 'Poppins', sans-serif;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    margin: auto;
    /* text-align: center; */
    width: 50%;
    padding: auto;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/* SLIDE SHOW CSS */

.slider {
    width: 700px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 2100px;
    background-color: pink;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target~.image-container {
    left: 0px;
}

#slide-2:target~.image-container {
    left: -700px;
}

#slide-3:target~.image-container {
    left: -1400px;
}

.buttons {
    position: relative;
    top: -20px;
}

.buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #f6f6f6;
}
.buttons a:hover{
    background-color: #444;
}

.importance-of-renting
{
    margin-left: 161px;
    width: 1000px;
    height: 100vh -100px;
}

.importance-of-renting .p-importance,
.importance-of-renting .h1-importance{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


/* FOOTER CSS */


.footer-firstDiv{
    /* box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.2); */
    width: 100%;
    box-shadow: 10px -22px 71px 26px rgba(0,0,0,0.2);
    height: 127px;
    display: flex;  
    float: left;
    position: relative;
}
.footer-firstDiv img{
    margin-left: 90px;
    margin-top: 50px;
    height: 42px;
}

.h3-qc{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 29px;
    text-align: center;
}

.qualify-certificates{
    margin-left: 65px;
}
.qualify-certificates img{
    width: 30px;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 15px;
}

.send-message{
    margin-top: 17px;
    margin-left: 100px;

}

.h3-message{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center; 
}

#message{
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#send{
    margin-top: 80px;
    margin-left: 70px;
    height: 40px;
    width: 100px;
    position: relative;
    border: 0.1em solid #a4c639;
    background-color: #eae5f0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 5px 15px;
    border-radius: 2px;
    transition: all .5s ease;  
    cursor: pointer;  
}

.last-row-copyrights{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.last-row-copyrights ul {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin-left: 90px;
}

/* .last-row-copyrights ul li {
    display: list-item;
    text-align: -webkit-match-parent;
} */
.last-row-copyrights a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    display: flex;
    position: relative;
    flex-direction: row;
    color: black;
    line-height: 0.6;
    border-right: 1px solid #999999;
    padding: 0 10px;
}

.last-row-copyrights a:hover{
    color: #a4c639;
}

.last-row-copyrights p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-right: 107px;
}


/* =========== Section2 ============= */
.section2 {
    background-color: white;
    display: flex;
}

.navbar li #sec2_a {
    position: relative;
    left: 450px;
}

/* button -Go back to home */

.go-back-button {
    margin-left: 15px;
    position: relative;
    border: 0.1em solid #a4c639;
    background-color: #eae5f0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 5px 15px;
    margin-right: 270px;
    border-radius: 2px;
    transition: all .5s ease;
}

.go-back-button:hover {
    letter-spacing: 0.25em;
    border-bottom: 2px solid #a4c639;
    color: black;
    box-shadow: 0 0 35px #a4c639;
}

/* 
.go-back-button::before {
    content: '';
    position: absolute;
    border: 2px solid #a4c639;
    top: -3.5px;
    width: 10px;
    height: 5px;
    left: 80%;
    border-radius: 2px;
    transition: all .5s ease;
}

.go-back-button ::after {
    content: '';
    position: absolute;
    border: 2px solid #a4c639;
    bottom: -3.5px;
    width: 10px;
    height: 5px;
    left: 20%;
    border-radius: 2px;
    transition: all .5s ease;
} */

/* #active {
    border-bottom: 2px solid #a4c639;
}
 */



.section2 h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 3px;
    color: #a4c639;
    text-transform: uppercase;
}

.section2 hr {
    margin-left: 41%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #a4c639, rgba(0, 0, 0, 075), #a4c639);
    max-width: 18%;
    margin-bottom: 10px;
}

.section2 p {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 15px 0;
}

#section2 {
    width: 100%;
    margin-left: 18px;
}


.section2 hr h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 3px;
    color: #a4c639;
    text-transform: uppercase;

}

#sec2_div {
    margin-bottom: 35px;
    /* margin-left: 458px; */
}

/* ====== CARDS ========== */

.flip-card {
    background-color: transparent;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 430px;
    height: 300px;
    perspective: 1000px;
    display: flex;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

/* optional color for back/front card #c2bbc9 */
.flip-card-front {
    background-image: linear-gradient(45deg, #eae5f0, #eae5f0);
}

.flip-card-front img {
    width: 400px;
    margin-top: 1rem;
}

.flip-card-back {
    background-image: linear-gradient(315deg, #eae5f0, #eae5f0);
    color: #535050;
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 340px;
    margin-top: 1rem;
}

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}

.flip-card-back h1 {
    margin: 0;
}



/* ============Login form CSS========== */

.container-login {
    position: relative;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container-login::before {
    content: '';
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    background-image: linear-gradient(-45deg,
            #20dbc2 0%, #00bf00 100%);
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 6;
    transition: 1.8s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    padding: 0 5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.input-field input:placeholder-shown {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #20dbc2;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #00bfa6;
}

.social-text {
    padding: 0.7rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 0.5s;
}

.social-icon:hover {
    color: #20dbc2;
    border-color: #00bfa6;
}


.signin-signup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form.sign-in-form {
    z-index: 2;
}

form.sign-up-form {
    z-index: 1;
    opacity: 0;
}

.image {
    width: 80%;
    transition: 1.1s .4s ease-in-out;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 7;
}

.left-panel {
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    padding: 3rem 12% 2rem 17%;
}


.panel .content {
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.right-panel .content,
.right-panel .image {
    transform: translateX(800px);
}

/* animation */

.container-login.sign-up-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container-login.sign-up-mode .left-panel .image,
.container-login.sign-up-mode .left-panel .content {
    transform: translate(-800px);
}

.container-login.sign-up-mode .right-panel .image,
.container-login.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.container-login.sign-up-mode .left-panel {
    pointer-events: none;
}

.container-login.sign-up-mode .right-panel {
    pointer-events: all;
}

.container-login.sign-up-mode .signin-signup {
    left: 25%;
}

.container-login.sign-up-mode form.sign-in-form {
    z-index: 1;
    opacity: 0;
}

.container-login.sign-up-mode form.sign-up-form {
    z-index: 2;
    opacity: 1;
}