.table{
    display: flex;
    flex-direction: column;
    float: left;
}

.heads{
    width: auto;
}
.rows{
    width: auto;
}
.styled-table {
    max-width: max-content;
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    justify-content: space-between;
    font-size: 18px;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #91e051;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #91e051;
}
/* .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #91e051;
} */